.page1 
{
    display:table;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/BackgroundImage1.jpg');
    background-position:center top;
    height:900px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display:inline;
}

a
{
    font-size: 20px;
    margin: 4px;
    color:aliceblue
}
