.page1 
{
    display:table;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/BackgroundImage1.jpg');
    background-position:center top;
    height:900px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display:inline;
}

a
{
    font-size: 20px;
    margin: 4px;
    color:aliceblue
}

.whystaycationheader
{
    font-family: Verdana;
    text-align: center;
}

p
{
    font-family: Verdana;
}

.leftbox
{
    height: 100px;
    width: 25%;
    padding: 10px;
    margin: 10px;
    border: 10px solid black;
    position: absolute;
    right: 10px;
}


.middlebox
{
    height: 100px;
    width: 25%;
    padding: 10px;
    margin: 10px;
    border: 10px solid black;
    right: 50px;
}

.rightbox
{
    height: 100px;
    width: 25%;
    padding: 10px;
    margin: 10px;
    border: 10px solid black;
    position:absolute;
    right: 100px
}
