*{
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li, a{
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size:24px;
    color:white;
    text-decoration: none;
    transition: color .9s ease-in-out, box-shadow .9s ease-in-out;

}

.booknow{
    color: white;
    padding: 10px 10px;
    border-radius: 40px;
    background-color: #E05C42;
}

li a:hover {
    box-shadow: inset 200px 0 0 0 rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
  }


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    
}

.logo{
    cursor:pointer;
    margin-right:auto;    
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding:0px 20px;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,168,1);
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,168,0.8);
}

.pageone{
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) ), url(../images/BackgroundImage1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
}

.staycationheader{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 50px;
    font-weight: bold;
}

.flexbox-container{
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    text-align: center;
}

.flexbox-item{
    width: 400px;
    margin:10px;
}

.flexbox-item-1{
    min-height: 100px;
}

.flexbox-item-2{
    min-height: 100px;
}

.flexbox-item-3{
    min-height: 100px;
}

.secondpage{
    position: relative;
    top: 20px;
}

.pagethree{
    position:relative;
    top:100px;
}

.iconimg{
    max-width: 100px;
    align-items: center;
}

.flexbox-container2{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align:center;
    flex-direction: column;
}

.flexbox-container2 img{
    justify-content: space-evenly;

}


.flexbox-container2 h2{
    text-align: center;
}

.flexbox-item2{
    width: 400px;
    margin:10px;
}

.flexbox-item2-1{
    min-height: 100px;
}

.flexbox-item2-2{
    min-height: 100px;
}

body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
     }
}

.middletext{
    margin-top:200px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction:column;
    
}

.middletext1{
    min-width: 300px;
    color: rgb(226, 221, 221);
}


.middletext2{
    min-width: 300px;
    color:whitesmoke;
    margin-right: 40px;
    margin-top:5px;
}

.popimg{
    height: 600px;
    border-radius: 10px;
}


footer{
    display: flex;
    justify-content: space-evenly;
    color: black;
    width: 100%;
    margin-right: 40px;
}

.flexbox-form-container{
    display: flex;
}

.flexbox-form-item1{
    min-height: 200px;
}

.image_container{
    position: relative;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
}

.image_img{
    display: block;
    width: 100%;
}

.image_overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s
}

.image_overlay:hover{
    opacity: 1;
}

.image_overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image_overlay:hover > *{
    transform: translateY(0px)
}

.image_title{
    font-size:2em;
    font-weight: bold;
}

.image_text{
    font-size: 1.25em;
    margin-top: 0.25em;
    margin-right: 20px;
    margin-left: 20px;
}
